<section id="counts" class="counts">
  <div class="container aos-init aos-animate" data-aos="fade-up">

    <div class="row no-gutters">

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="icofont-doctor-alt"></i>
          <span data-toggle="counter-up">85</span>
          <p>Toplam <strong>Açılan Anket</strong> Sayısı</p>
          <a href="#">Meraklısı İçin İstatistikler »</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="icofont-patient-bed"></i>
          <span data-toggle="counter-up">18</span>
          <p>Anketlere Verilen <strong>Cevap</strong> Sayısı </p>
          <a href="#">Meraklısı İçin İstatistikler »</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="icofont-laboratory"></i>
          <span data-toggle="counter-up">8</span>
          <p>Toplam <strong>Sonuçlanan Anket</strong> Sayısı</p>
          <a href="#">Meraklısı İçin İstatistikler »</a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="icofont-award"></i>
          <span data-toggle="counter-up">150</span>
          <p>Toplam <strong>Anket Dolduran</strong> Sayısı</p>
          <a href="#">Meraklısı İçin İstatistikler »</a>
        </div>
      </div>

    </div>

  </div>
</section>
