<div style="position: relative;top: 65px;">
  <div class="container pb-5">
    <div class="w-100-text-center d-flex justify-content-center">
      <div>Görsel: <img class="anket__gorsel" [src]="gorsel">
        <div class="anket__gorsel-data">Gorsel data: {{gorsel}}</div>
      </div>
    </div>
    <div style="display:grid; grid-template: 400px / 1fr 4fr 1fr">
      <div
        style="grid-column-start: 2;  display:flex; flex-direction:column;justify-content:center;align-items:center;flex-wrap:wrap;"
        class="text-center mt-2 ">
        Anket Detayı:
        <h1 style="font-size:22px; text-align:center;" class="mt-2 font-weight-bold">
          {{anketDetayi?.question}} </h1>
        <div *ngFor="let anketAns of anketDetayi?.answers; let i = index;">
          <button class="btn w-100 mt-2 p-1"
            style="border: 1px solid #efefef; border-radius:25px; background-color:blueviolet; color:white"
            (click)="cevapla(anketAns.answer,i)">
            {{anketAns.answer}}
          </button>
          <div>
            {{anketAns.votes}} oy verildi
          </div>
        </div>
      </div>
    </div>
    <div class="w-100 text-center">
      <h2>Ankete görsel ekle</h2>
      <input type="file" id="gorselYukle" name="filename"
        style="background-color:lightgray; padding:10px; border:2px solid #8A2BE2" (change)="gorselYukle()">
      >
    </div>

  </div>
</div>
