<section id="hero" class="d-flex align-items-center">

  <div class="container-fluid aos-init aos-animate" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <div style="color:blueviolet; font-size:35px; font-weight:bold;" class="text-center">Türkiye'nin Anket Servisi
        </div>
        <app-anket-olustur></app-anket-olustur>
      </div>
      <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img aos-init aos-animate" data-aos="zoom-in"
        data-aos-delay="150">
        <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section>
