<!-- <div>BIKTIM LOGIN-REGISTER AUTHENTICATION YAPMAKTAN YETEEEEEER</div> -->

<div style="position:relative; top:85px ">
  <button mat-button>Basic</button>
  xyz

  <div class="w-100 text-center pb-5 pt-2 d-flex align-items-center justify-content-center flex-wrap"
    style="height:600px; flex-direction:column ">
    <form class="form-group d-flex flex-wrap">
      <h4 class="w-100 text-left">Giriş Yap</h4>
      <div class="w-100 text-left">
        <label class="w-100 text-left">Kullanıcı adınız</label>
        <input placeholder="Kullanıcı adınız">
      </div>
      <div class="w-100 text-left">
        <label class="w-100 text-left">Şifreniz</label>
        <input placeholder="Şifreniz">
      </div>
      <button class="btn btn-primary" type="submit" style="background-color:blueviolet">Giriş Yap</button>
    </form>
    <form class="form-group d-flex flex-wrap mt-2 pb-4">
      <h4 class="w-100 text-left">Kaydol</h4>

      <div class="w-100 text-left">
        <label class="w-100 text-left">Kullanıcı adınız</label>
        <input placeholder="Kullanıcı adınız">
      </div>

      <div class="w-100 text-left">
        <label class="w-100 text-left">Şifreniz</label>
        <input placeholder="Şifreniz">
      </div>
      <button class="btn btn-primary" type="submit" style="background-color:blueviolet">Kaydol</button>

    </form>
  </div>
</div>
