<!-- <div>BIKTIM LOGIN-REGISTER AUTHENTICATION YAPMAKTAN YETEEEEEER</div> -->

<div style="position:relative; top:85px " id="about">

  <div class="w-100 text-center pb-5 pt-2 d-flex align-items-center justify-content-center flex-wrap"
    style="height:600px; flex-direction:column ">
    <form class="form-group d-flex flex-wrap">
      <h4 class="w-100 text-left mt-2">Giriş Yap</h4>
      <div class="w-100 text-left">
        <label class="w-100 text-left">E-postanız</label>
        <input placeholder="E-postanız" ngModel #email="ngModel" name="email">
      </div>
      <div class="w-100 text-left">
        <label class="w-100 text-left">Şifreniz</label>
        <input placeholder="Şifreniz" ngModel #password="ngModel" name="password">
      </div>
      <button class="btn btn-primary mt-2" type="submit" style="background-color:blueviolet">Giriş Yap</button>
      <button class="btn btn-primary mt-2" (click)="login()">Google ile giriş yap</button>

    </form>
    <form class="form-group d-flex flex-wrap mt-2 pb-4" #registerForm="ngForm" (ngSubmit)="signupEmail(registerForm)">
      <h4 class="w-100 text-left">Kaydol</h4>

      <div class="w-100 text-left">
        <label class="w-100 text-left">E-postanız</label>
        <input placeholder="E-postanız" ngModel #email="ngModel" name="email">
      </div>

      <div class="w-100 text-left">
        <label class="w-100 text-left">Şifreniz</label>
        <input placeholder="Şifreniz" ngModel #password="ngModel" name="password">
      </div>
      <button class="btn btn-primary mt-2" type="submit" style="background-color:blueviolet">Kaydol</button>

    </form>
  </div>
</div>
