<div style="position:relative; top:85px " id="about">
  <h2 class="w-100 text-center">Seni tekrar görmek güzel, {{loggedInUser.displayName}}</h2>
  <div class="w-100 text-center pb-5 pt-2 d-flex align-items-center justify-content-center flex-wrap"
    style="height:600px; flex-direction:row ">
    <form class="form-group d-flex flex-wrap mr-3"
      style="width:250px;border: 1px solid #efefef; height:250px;padding:5px;border-radius:5px;">
      <h4 class="w-100 text-left mt-2">Giriş Yap</h4>
      <div class="w-100 text-left">
        <label class="w-100 text-left">E-postanız</label>
        <input placeholder="E-postanız" ngModel #email="ngModel" name="email">
      </div>
      <div class="w-100 text-left">
        <label class="w-100 text-left">Şifreniz</label>
        <input placeholder="Şifreniz" ngModel #password="ngModel" name="password">
      </div>
      <button class="btn btn-primary mt-2" type="submit" style="background-color:blueviolet">Giriş Yap</button>
      <button class="btn btn-primary mt-2" (click)="login();loginGmail()">Google ile giriş yap</button>

    </form>
    <form class="form-group d-flex flex-wrap pb-4"
      style="width:250px;border: 1px solid #efefef; height:250px; padding:5px;border-radius:5px;" #registerForm="ngForm"
      (ngSubmit)="signupEmail(registerForm)">
      <h4 class="w-100 text-left">Kaydol</h4>

      <div class="w-100 text-left">
        <label class="w-100 text-left">E-postanız</label>
        <input placeholder="E-postanız" ngModel #email="ngModel" name="email">
      </div>

      <div class="w-100 text-left">
        <label class="w-100 text-left">Şifreniz</label>
        <input placeholder="Şifreniz" ngModel #password="ngModel" name="password">
      </div>
      <button class="btn btn-primary mt-2" type="submit" style="background-color:blueviolet">Kaydol</button>

    </form>
  </div>
</div>
