<div *ngIf="onShow && onShowMe" id="exampleModalCenter" class="modal fade show" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" style="padding-right: 16px; display: block;">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Anket Oluşturulması Başarılı</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" (click)="gizle()">×</span>
        </button>
      </div>
      <div class="modal-body">
        Anketin Oluşturuldu.
        Bu linkten ulaşabilirsin:
        <a [routerLink]="['/anket',anketId]">{{anketId}}</a>
      </div>
    </div>
  </div>
</div>
