.anket-container {
  height: 400px;
  justify-content: center;
  align-items: center;
}

.anket-container-item {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  padding: 20px 25px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  & > textarea {
    width: 470px;
    margin-top: 10px;
    border: 1px solid #e8e8e8;
    padding: 10px 15px;
    font-weight: bold;
    height: 55px;
    box-shadow: 0px 0px 4px 1px rgba(137, 43, 226, 0.295);
    font-size: 20px;
    resize: none;
    &:focus {
      box-shadow: none;
      outline: none !important;
      outline: 1px solid #e8e8e8 !important;
    }
  }
  & > input {
    width: 450px;
    margin-top: 10px;
    border: 1px solid #e8e8e8;
    padding: 10px 15px;
    &:focus {
      box-shadow: none;
      outline: 1px solid #e8e8e8 !important;
    }
  }
  & > button {
    width: 200px;
    border: none;
    background-color: blueviolet;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
    padding: 8px 0;
    font-weight: bold;
    position: relative;
    top: 8px;
    &:focus {
      outline: none;
    }
  }
}
