<section id="about" class="about">
  <div class="container">

    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2 aos-init aos-animate" data-aos="zoom-in" data-aos-delay="150">
        <img src="assets/about.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content aos-init aos-animate" data-aos="fade-right">
        <h3>Her türlü ihtiyacın için <strong style="color:blueviolet;">e-anket</strong> kullanabilirsin</h3>
        <p class="font-italic">
          Türkiye'nin en güvenilen anket servisi
        </p>
        <ul>
          <li><i class="icofont-check-circled"></i> İnternette bulabileceğiniz en kapsamlı anket sağlayıcısı.</li>
          <li><i class="icofont-check-circled"></i> Bir çok istatistik, canlı izleme imkanı, e-posta ile bildirim gibi
            bir çok özellik emrinde.</li>
          <li><i class="icofont-check-circled"></i> Hesap oluşturmadan da bu servisi kullanabilirsin ama üyelere ait bir
            çok
            özelliği kullanabilmek istiyorsan <strong>15 saniyede hızlı üyelik</strong> oluştur.
          </li>
        </ul>
        <a href="#" class="read-more" style="padding-right:25px;">Şimdi Üye Ol <i
            class="icofont-long-arrow-right"></i></a>
      </div>
    </div>

  </div>
</section>
