<header id="header" class="fixed-top header-scrolled">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-xl-9 d-flex align-items-center">
        <h1 class="logo mr-auto d-flex"><img src="assets/logo.png" class="mr-2"/><a href="index.html" style="opacity:0.9">e-anket</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class=""><a href="/">Anasayfa</a></li>
            <li class="drop-down"><a href="">Anketler</a>
              <ul>
                <li><a href="#">Çoklu Anket</a></li>
              </ul>
            </li>
            <li class=""><a href="#contact">Contact</a></li>

          </ul>
        </nav><!-- .nav-menu -->

        <a href="#about" class="get-started-btn scrollto">Üye Girişi</a>
      </div>
    </div>

  </div>
</header>
